.icon {
	display: inline-block;
	height: 0.875rem; // 14px
	width: 0.875rem; // 14px
	vertical-align: top;

	&.icon-add { background-image: url('/img/svg/icon-add.svg'); }
	&.icon-collapsed { background-image: url('/img/svg/icon-collapsed.svg'); }
	&.icon-delete { background-image: url('/img/svg/icon-delete.svg'); }
	&.icon-eye { background-image: url('/img/svg/icon-eye.svg'); }
	&.icon-left { background-image: url('/img/svg/icon-left.svg'); }
	&.icon-new { background-image: url('/img/svg/icon-new.svg'); }
	&.icon-object-rectangle { background-image: url('/img/svg/icon-object-rectangle.svg'); }
	&.icon-open { background-image: url('/img/svg/icon-open.svg'); }
	&.icon-opened { background-image: url('/img/svg/icon-opened.svg'); }
	&.icon-physics { background-image: url('/img/svg/icon-physics.svg'); }
	&.icon-properties { background-image: url('/img/svg/icon-properties.svg'); }
	&.icon-right { background-image: url('/img/svg/icon-right.svg'); }
	&.icon-save { background-image: url('/img/svg/icon-save.svg'); }
	&.icon-texture { background-image: url('/img/svg/icon-texture.svg'); }
	&.icon-trash { background-image: url('/img/svg/icon-trash.svg'); }
}