.layout {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr 1fr 30%;
	grid-template-rows: min-content 30% 1fr;
	gap: 0.125rem 0.125rem;
	grid-template-areas:
		"top top top"
		"view view side-top"
		"view view side-bottom";
	width: 100vw;
	height: 100vh;
	position: relative;

	.top {
		grid-area: top;
		overflow: hidden;
		position: relative;
	}

	.side-top {
		grid-area: side-top;
		overflow: hidden;
		position: relative;
	}

	.side-bottom {
		grid-area: side-bottom;
		overflow: hidden;
		position: relative;
	}

	.view {
		grid-area: view;
		overflow: hidden; // Prevent resizeWindow() loop
		position: relative;
	}
}