.layout {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr 1fr 30%;
	grid-template-rows: min-content 30% 1fr;
	gap: 0.125rem 0.125rem;
	grid-template-areas:
		"top top top"
		"view view side-top"
		"view view side-bottom";
	width: 100vw;
	height: 100vh;
	position: relative;

	.top {
		grid-area: top;
		position: relative;
		z-index: 1;
	}

	.side-top {
		grid-area: side-top;
		position: relative;
	}

	.side-bottom {
		grid-area: side-bottom;
		position: relative;
	}

	.view {
		display: grid; 
		grid-area: view; // Move to parent layout "view"
		grid-auto-columns: 1fr; 
		grid-template-columns: 1fr; 
		grid-template-rows: min-content 1fr; 
		gap: 0rem 0rem; 
		grid-template-areas: 
			"menu"
			"content"; 
		position: static;
		overflow: hidden;
		z-index: 0; // Let top take priority

		.menu {
			grid-area: menu;
		}

		.content {
			grid-area: content;
			overflow: hidden; // Prevent resizeWindow() loop
			position: relative;
		}
	}
}