.layout {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr 1fr 25%;
	grid-template-rows: min-content 33% 1fr;
	gap: 0.125rem 0.125rem;
	grid-template-areas:
		"top top top"
		"view view side-top"
		"view view side-bottom";
	width: 100vw;
	height: 100vh;

	.top {
		grid-area: top;
	}

	.side-top {
		grid-area: side-top;
	}

	.side-bottom {
		grid-area: side-bottom;
	}

	.view {
		grid-area: view;
		overflow: hidden; // Prevent resizeWindow() loop
	}
}