.scene-list {
	background-color: #282828;
	color: #DCDCDC;
	display: flex;
	flex-direction: column;
	font-size: 0.75rem;
	line-height: 0.75rem;
	overflow-y: overlay;
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 1;

	> label {
		padding: 0.5rem;
		display: block;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			
			&:nth-child(odd) {
				background-color: #2B2B2B;
			}
			
			.row {
				align-items: center;
				display: flex;
				padding: 0.0625rem 0.5rem;
				position: relative;
				z-index: 1;

				&.selected {
					background-color: #4772B3;

					label {
						input {
							cursor: auto;
						}
					}
				}
	
				label {
					align-items: center;
					display: flex;
					width: 100%;
					
					.icon {
						margin-right: 0.25rem;
					}

					input {
						background-color: transparent;
						border: none;
						cursor: default;
						color: #ffffff;
						flex-grow: 1;
						height: 0.875rem;
						min-width: 0;
						width: 100%;

						&:focus-visible {
							outline: none;
							background: #222222;
						}
					}
				}
	
				button {
					background-color: transparent;
					border: none;
					padding: 0rem 0.125rem;
					cursor: pointer;
			
					&:first-of-type {
						margin-left: auto;
					}
				}
			}
		}
	}

	// Used for deselecting objects from scene list
	.deselect {
		min-height: 2rem;
		flex-grow: 1;
	}
}